* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#divbox1 {
  width: 12%;
  height: 20%;
  background-color: blue;
  display: none;
}

#divbox2 {
  width: 100%;
  height: 100%;
  margin: auto;
  display: none;
}

#divbox3 {
  width: 100%;
  height: 100%;
  margin: auto;
  display: none;
}

#divgame1, #divgame2, #divgame3 {
  background-color: white;
  margin-left: 28.7%; 
  width: 50%; /*800 600**/
  height: 30%;
  border: 2px black solid;
}

#game1 {
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

#game2 {
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

#game3 {
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

#finish {
  display: none;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

#statsFinais {
  border: 4px solid #333;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 5%;
}

body {
  margin:0;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
}


.navbar button {
  background-color: #333;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.navbar button:hover {
  background: #ddd;
  color: black;
}


#title {
  margin-left: 14%;
}

#sign {
  margin-left: 25%;
}

.main {
  margin: 0 0 0 0 ; /* Add a top margin to avoid content overlay */
  background-color: rgb(230,232,244);
  height: 200%;
}

#startGame1 {
  background-color: rgb(43,135,209); 
  width: 100%;
  height: 35%;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 250%;
  cursor:pointer;
  margin-top: 0%;
}

.textoSecDoButton {
  font-size: 50%;
}

#textoPrinDoButton{
  font-size: 100%;
}

#infos {
  text-align: center;
  margin: 5% auto 5% auto;
  width: 60%;
  height: 50%;
  background-color: rgb(230,232,244);
  font-size: larger;
}

#infos  #AboutTheTest {
  float: left;
  vertical-align: top;
  width: 48%;
  height: 75%;
  background-color: white;
  border-radius: 2%; 
}

#infos #Records {
  float:right;
  vertical-align: top;
  width: 48%;
  height: 75%;
  background-color: white;
  border-radius: 2%;
}

#ClicouCedo1, #ClicouCedo2, #ClicouCedo3 {
  margin-left: 28.7%;
  margin-top: 5%; 
  width: 50%;
  text-align: center;
  font-weight: bold;
  font-size: 130%;
}

#gameHeader {
  display: none;
  width: 10%; 
  margin-left: 7%;
  margin-top: 8%;
  font-size: 90%;
  float: left; 
  font-weight: bolder;
}

#Game1Stats, #Game2Stats, #Game3Stats {
  margin-bottom: 10%;
  box-shadow: 2px 2px 2px 2px #0E1119;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  background-color: #DCE7FF;
}

.containertable th h1 {
  font-weight: bold;
  font-size: 1em;
  text-align: left;
  color: #185875;
}

.containertable td {
  font-weight: normal;
  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
  -moz-box-shadow: 0 2px 2px -2px #0E1119;
  box-shadow: 0 2px 2px -2px #0E1119;
}

.containertable {
  text-align: left;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  display: table;
  padding: 0 0 0 0;
}

.containertable td, .containertable th {
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left:2%;  
}

/* Background-color of the odd rows */
.containertable tr:nth-child(odd) {
  background-color: #323C50;
}

/* Background-color of the even rows */
.containertable tr:nth-child(even) {
  background-color: #2C3446;
}

.containertable th {
  background-color: #1F2739;
}

.containertable td { 
  color: white; 
  font-size: 100%;
  font-weight: bolder;
  text-align: center;
}

.containertable tr:hover {
  background-color: #333;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
  -moz-box-shadow: 0 2px 2px -2px #0E1119;
  box-shadow: 0 2px 2px -2px #0E1119;
}

.containertable td:hover {
  background-color: rgb(230,232,244);
  color: #403E10;
  font-weight: bold;

  box-shadow: rgb(230,232,244) -1px 1px, rgb(230,232,244) -2px 2px, rgb(230,232,244) -3px 3px, rgb(230,232,244) -4px 4px, rgb(230,232,244) -5px 5px, rgb(230,232,244) -6px 6px;
  transform: translate3d(6px, -6px, 0);

  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
}

#playingFrom {
  display: none;
}

#avg {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 150%;
  border: none;
  background-color: rgb(230,232,244);
}

.submitButton, .RecordsButton {
  flex-direction: column;
  font-size: 100%;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 6px;
  border: none;
  margin-top: 5%;

  background: #6E6D70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

input.submitButton[type="submit"]:hover {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px #323C50;
  outline: 0;
}

.RecordsButton:hover{
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px #323C50;
  outline: 0;
}


#recordsTable {
  background: #012B39;
  border-radius: 0.25em;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}
th {
  border-bottom: 1px solid #364043;
  color: #E2B842;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.65em 2em;
  text-align: left;
}
td {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 2em;
}

tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: #014055;
}

#top1 {
  background-color: rgb(146, 134, 62);
}

#top2 {
  background-color: silver;
}

#top3 {
  background-color: #6e5a46;
}

#advice {
  font-weight: bolder;
}